# General Properties
productName = HCS
projectName = EnterpriseHubb Services
wss.url = https://app.whitesourcesoftware.com/agent
showProgressBar = false
generateScanReport = true
scanReportTimeoutMinutes=10

# Project Specific Properties
excludes = ci/ packaging/ whitesource/ **/*.apk **/*.tgz **/*.zip **/*.tar.* **/*.md 
case.sensitive.glob = false
followSymbolicLinks = true

# Nuget Specific Properties
nuget.resolvePackagesConfigFiles = true
nuget.resolveCsProjFiles = true
nuget.resolveDependencies = true
nuget.restoreDependencies = true
nuget.ignoreSourceFiles = false
nuget.runPreStep = true
nuget.resolveNuspecFiles = false
nuget.resolveAssetsFiles = true

# PHP Specific Properties
php.resolveDependencies = false
php.runPreStep = false
php.includeDevDependencies = false

# Python Specific Properties
python.resolveDependencies = false
python.runPoetryPreStep = false
python.includePoetryDevDependencies = false
python.installVirtualenv = false
python.ignoreSourceFiles = false