[Unit]
Description=EnterpriseHubb User Daemon

[Service]
WorkingDirectory=/usr/lib/EnterpriseHubb/Services
ExecStart=/usr/bin/dotnet /usr/lib/EnterpriseHubb/Services/Hubbell.EHubb.UserAPI.dll
Restart=always
RestartSec=30
SyslogIdentifier=EHubb-User
LogNamespace=EHubb-User
StandardOutput=journal
StandardError=journal
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target